/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    #logo {
        @apply uppercase font-bold text-3xl md:text-4xl shadow-yellow-400 
        shadow-sm py-4 px-6 md:py-4 md:px-6 rounded-tl-full rounded-br-full bg-yellow-400 text-white 
        transition duration-300 ease-out cursor-pointer
    }
    #hero {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/hero2.jpg);
        background-size: cover;
        background-blend-mode:darken;
        height: calc(90vh - 40px);
    }
    .btn-yellow {
        @apply py-4 px-8 uppercase rounded-md lg:text-lg bg-yellow-400 lg:py-4 lg:px-8 
        hover:bg-yellow-200 shadow-yellow-400 shadow-sm transition duration-300 ease-out cursor-pointer
    }
    .nav-link {
        @apply hover:bg-yellow-400 rounded-full hover:text-white px-4 py-2
         cursor-pointer transition-colors ease-out duration-200
    }
    /* Nav button */
    .ham-container {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
}

/*  */

@layer base {
    .grow-2 {
        flex-grow: 0.2;
    }
    .grow-3 {
        flex-grow: 0.3;
    }
    .grow-4 {
        flex-grow: 0.4;
    }
    .grow-5 {
        flex-grow: 0.5;
    }
    .grow-6 {
        flex-grow: 0.6;
    }
    .grow-7 {
        flex-grow: 0.7;
    }
    .grow-8 {
        flex-grow: 0.8;
    }
    .grow-9 {
        flex-grow: 0.9;
    }
    .screen-h90 {
        height:90vh;
    }
}