/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    #logo {
        @apply uppercase font-bold text-3xl md:text-4xl text-yellow-400 shadow-yellow-400 
        shadow-sm py-4 px-6 md:py-4 md:px-6 rounded-tl-full rounded-br-full hover:bg-yellow-400 hover:text-white 
        transition duration-300 ease-out cursor-pointer
    }
    #hero {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/hero2.jpg);
        background-size: cover;
        background-blend-mode:darken;
        height: calc(90vh - 40px);
    }
    .btn-yellow {
        @apply py-4 px-8 uppercase rounded-md lg:text-lg bg-yellow-400 lg:py-4 lg:px-8 
        hover:bg-yellow-200 shadow-yellow-400 shadow-sm 
    }
}

/*  */

@layer base {
    .grow-2 {
        flex-grow: 0.2;
    }
    .grow-3 {
        flex-grow: 0.3;
    }
    .grow-4 {
        flex-grow: 0.4;
    }
    .grow-5 {
        flex-grow: 0.5;
    }
    .grow-6 {
        flex-grow: 0.6;
    }
    .grow-7 {
        flex-grow: 0.7;
    }
    .grow-8 {
        flex-grow: 0.8;
    }
    .grow-9 {
        flex-grow: 0.9;
    }
    .screen-h90 {
        height:90vh;
    }
}